workflows/WebChat.json
{
  "name": "WebChat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -16
      ],
      "id": "4f65db56-a8d3-4c7a-9d5f-1761389c4fce",
      "name": "Webhook",
      "webhookId": "db82e8ef-bf0c-47c7-ba68-8d689b6ee85b"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"answer\": \"{{ $json.choices[0].message.content }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -16
      ],
      "id": "f98dc67b-7d72-4f7b-acb9-7691bb76a5ef",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        -16
      ],
      "id": "3da9fef4-5aef-4a1b-9b4b-087c6417d87a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": \"{{ $json.answer }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        -16
      ],
      "id": "31696587-4210-4ba0-b8ff-0957d101d362",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"model\": \"openai/gpt-oss-120b\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.message }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -16
      ],
      "id": "5951b335-d479-4a6d-a648-c2fd757582c7",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73a30b80-5c72-4d26-81e4-bfff2324ef1d",
  "meta": {
    "instanceId": "4e8cc5ae1e3f84ab771ba41f1674f1720a84c85758a5ebc1358f8a92ee665d9d"
  },
  "id": "P5yfX4zQ6uBXHHNE",
  "tags": []
}